/ {
#if 0
    fragment@201 {
        target = <&touchscreen>;
        __overlay__ {
            interrupt-parent = <&gpio1>;
            interrupts = <15 IRQ_TYPE_EDGE_FALLING>;
        };
    };
#else
    fragment@201 {
        target = <&i2c1>;
        __overlay__ {
            edt-ft5506@38 {
                interrupt-parent = <&gpio1>;
                interrupts = <15 IRQ_TYPE_EDGE_FALLING>;
	    };
        };
    };
#endif
};
